bin/
obj/
analysis-output/
*.dcu
*.local
*.identcache
*.stat
*.log
*.exe
*.dot
*.map
*.rsm
*.tds
*.res
*.dproj.local
*.dproj.2007
*.dproj.2009
*.dproj.2010
*.dproj.2011
*.dproj.2012
*.dproj.2013
*.dproj.2014
*.dproj.2015
*.dproj.2016
*.dproj.2017
*.dproj.2018
*.dproj.2019
*.dproj.2020
*.dproj.2021
*.dproj.2022
*.dproj.2023
*.dproj.2024
*.dproj.2025
*.dproj.2026
